venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

Data/raw/
Data/interim/
Data/processed/jobs_clean.csv
Data/processed/jobs_clustered.csv

models/job_tfidf_vectors.pkl
models/job_tfidf_vectorizer.pkl

.streamlit/secrets.toml
.env
*.log

app/streamlit_app_backup.py